*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ===== SCROLLBAR ===== */

body::-webkit-scrollbar {
    width: 10px;
}
  
body::-webkit-scrollbar-track {
    background: black;
}
  
body::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 10px;
    border: 2px solid #e37276b9;
    height: 50px;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color: white;
    min-width: 320px;
}


/*===== NAVIGATION BAR =====*/

img{
    height: 90%;
    width: auto;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

.navbar{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 8rem 0.5rem 6rem;
    position: fixed;
    top:0;
    width: 100%;
    border-bottom: solid thin #c9317f;
    box-shadow: 0 0 25px #e26a6e;
    z-index: 1;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    font-size: 1.25rem;
    transition: 0.3s ease;
}

.nav-link:hover{
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-link:after{
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 1rem 1rem 0.5rem 0.5rem;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, #c9317f), to(#e26a6e));
    bottom: 0;
}

.nav-link:hover:after{
    width: 100%;
}

.nav-link.active{
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    padding: 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-link.active:after{
    color: #df6469;
    content: "";
    position: absolute;
    left: 0;
    height: 5px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, #c9317f), to(#e26a6e));
    width: 100%;
}


/*===== HAMBURGER MENU =====*/

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


/*===== NAVIGATION BAR MEDIA QUERIES =====*/

@media screen and (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger:not(.active):hover{
        box-shadow: 0 0 30px #e26a6e;
    }   

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);        
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    }

    .navbar{
        padding: 0.5rem 2rem 0.5rem 2rem;
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(21, 19, 19);
        text-align: center;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-menu.active{
        right: 0;
        border-bottom: solid thin #c9317f;
        box-shadow: 0 0 25px #e26a6e;
    }
}


/*===== TEMP_HOME =====*/

.temp_home{
    position: fixed;
    top: 80px;
    min-height: calc(100vh - 80px);
    width: 100%;
    background-color: black;
    z-index: -1;
}

.temp_home video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


/*===== ROLLOVER =====*/

.rollover{
    position: static;
    width: 100%;
}

.rollover .main-sections{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 40px 0 40px;
}

.rollover .main-sections h1{
    width: fit-content;
    padding: 20px;
    border-radius: 1rem;
    font-size: 2rem;
    background: linear-gradient(135deg, rgba(248, 245, 245, 0.075), rgba(225, 225, 225, 0.049));
    backdrop-filter: blur(10px);
    box-shadow: 15px 18px 32px rgba(34, 33, 33, 0.5);
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rollover .main-sections .main-sections-div{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 10px;
    border-radius: 1rem;
    background: linear-gradient(135deg, rgba(248, 245, 245, 0.075), rgba(225, 225, 225, 0.049));
    backdrop-filter: blur(10px);
    box-shadow: 15px 18px 32px rgba(0, 0, 0, 0.5);
}

/* ===== ROLLOVER SECTION MEDIA QUERIES ===== */

@media screen and (max-width: 768px){
    .rollover .main-sections{
        flex-direction: column;
        padding: 2px;
    }

    .rollover .main-sections h1{
        text-align: center;
        width: 100%;
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .rollover .main-sections .main-sections-div{
        width: 100%;

    }
}


/*===== HOME =====*/

.home.main-sections{
    height: calc(100vh - 0.1px);
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.home .bio h1{
    font-size: 56px;
    line-height: 68px;
    font-weight: 800;
    margin-bottom: 20px;
    padding: 0;
}

.home .bio h2{
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
    color: white;
    margin-bottom: 15px;
}

.home .bio h3{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 19px;
}

.home .bio h6{
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: block;
    margin-bottom: 20px;
    font-weight: 300;
}

.home .bio button{
    margin-top: 10px;
    color: white;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, #c9317f), to(#e26a6e));
    font-size: 1.1rem;
    padding: 12px 36px;
    border-radius: 2rem;
    border: none;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.home .bio button:hover{
    border: solid thin #c9317f;
    box-shadow: 0 0 30px #e26a6e;
    transform: scale(1.1);
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 768px){
    .home.main-sections{
        padding: 0 0 0 1rem;
    }

    .home .bio h1{
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 10px;
        text-align: left;
    }

    .home .bio h2{
        font-size: 20px;
        margin-bottom: 10px;
    }

    .home .bio h3{
        font-size: 15px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .home .bio h6{
        font-size: 9px;
        line-height: 18px;
        margin-bottom: 10px;
        letter-spacing: 3px;
    }

    .home .bio button{
        margin-top: 10px;
        padding: 8px 20px;
        font-size: 1rem;
    }

}

/*===== EDUCATION =====*/

.education .main-sections-div .box {
    display: flex;
    flex-direction: row;
    width: 80%;
    border-radius: 0.5rem 1rem 1rem 0.5rem;
    box-shadow: 0.2rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    background-color: black;
    text-align: center;
    position: relative;
    margin: 1rem 0;
    overflow: hidden;
    transition: 0.3s;
}
    
.education .main-sections-div .box:hover {
    transform: scale(1.02);
    border-bottom: solid thin #c9317f;
    box-shadow: 5px 5px 25px #e26a6e;
}

.education .main-sections-div .box .image {
    flex: 1 1 20rem;
    width: 100%;
}

.education .main-sections-div .box img {
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.education .main-sections-div .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    flex-wrap: wrap;
    flex: 1 1 70rem;
}

.education .main-sections-div .box .content h3 {
    font-size: 1.75rem;
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0.5rem 0;
    font-weight: 600;
    text-align: left;
    margin-left: 1rem;
}

.education .main-sections-div .box .content p {
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    text-align: left;
}

.education .main-sections-div .box h4 {
    font-size: 1rem;
    text-align: left;
    margin: 2rem 0.5rem 1rem 1rem;
}


/* ===== EDUCATION MEDIA QUERIES ===== */

@media screen and (max-width: 768px){
    .education .main-sections-div .box {
        flex-direction: column;
        width: 100%;
        border-radius: 0.5rem 0.5rem 1rem 1rem;
    }

    .education .main-sections-div .box .image {
        width: 100%;
        height: 15rem;
        flex: 1 1 2rem;
    }

    .education .main-sections-div .box img {
        width: 100%;
    }
    
    .education .main-sections-div .box .content {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 0;
    }
    
    .education .main-sections-div .box .content h3 {
        font-size: 1.5rem;
    }
    
    .education .main-sections-div .box .content p {
        font-size: 1.2rem;
    }
    
    .education .main-sections-div .box h4 {
        font-size: 0.85rem;
    }
}


/*===== SKILLS =====*/

.skill-img{
    height: 10rem;
    width: 10rem;
    margin: 20px;
    border-radius: 1rem;
    border: solid thin #080808;
    background-color: #080808;
    box-shadow: 30px 25px 25px #0c0413;
    transition: 0.3s;
    padding: 1rem;
    text-align: center;
}

.skill-img img{
    height: 5rem;
    width: 5rem;
}

.skill-img p{
    font-size: 1.5rem;
    margin-top: 20px;
}

.skill-img:hover{
    transform: scale(1.03);
    border-bottom: solid thin #c9317f;
    box-shadow: 5px 5px 25px #e26a6e;
}

@media screen and (max-width: 768px){
    .skill-img{
        height: 6rem;
        width: 6rem;
        padding: 8px;
        /* margin: 10px; */
    }

    .skill-img img{
        height: 3rem;
        width: 3rem;
    }

    .skill-img p{
        font-size: 1.1rem;
        margin-top: 10px
    }
}

/*===== PROJECTS =====*/

.project{
    height: 12rem;
    width: 18rem;
    margin: 20px;
    border-radius: 1rem;
    border: solid thin #080808;
    background-color: #080808;
    box-shadow: 30px 25px 25px #0c0413;
    transition: 0.3s;
}

.project:hover{
    transform: scale(1.03);
    border-bottom: solid thin #c9317f;
    box-shadow: 5px 5px 25px #e26a6e;
    cursor: pointer;
}

.project img{
    height: calc(12rem - 1px);
    width: calc(18rem - 1px);
    border-radius: 1rem;
}


/*===== CONTACT =====*/

.contact{
    width: 100%;
    height: 100%;
    margin-top: 50px; 
    padding-top: 40px;
    background-color: black;
}

.contact h1{
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.25rem;
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ===== CONTACT DETAILS ===== */

.contact .contact-details{
    width: 50%;
    float: left;
    padding: 4rem 2rem 2rem 2rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .contact-details table{
    font-size: 1rem;
    margin-bottom: 2rem;
}

.contact .contact-details td{
    padding: 5px;
    min-width: 80px;
    line-height: 1.65rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.contact .contact-details table .table-icon{
    font-size: 2rem;
    text-align: center;
}

.contact .contact-details h2{
    margin-bottom: 2rem;
    font-size: 1.85rem;
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact .contact-details .media-icons{
    width: 50%;
    display: flex;
    margin-top: 1rem;
    margin-bottom: 3.4rem;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact .contact-details .media-icons img{
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 50%;
    border-style: solid;
    border-color: #c9317f;
    cursor: pointer;
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: content-box;
    -webkit-text-fill-color: transparent;
}

/* ===== CONTACT FORM ===== */

.contact .contact-form{
    width: 50%;
    float: right;
    padding: 4rem 4rem 2rem 4rem;
    background-color: black;
}

.contact .contact-form .box{
    width: 100%;
    padding: 1rem 1.75rem ;
    color: rgb(234, 225, 225);
    letter-spacing: 1px;
    font-size: 1.15rem;
    margin-bottom: 0.75rem;
    background-color: rgb(20, 19, 19);
    border: solid thin black;
    box-shadow: 1px 1px 2px #e26a6e;
}

.contact .contact-form .box:focus{
    outline: none !important;
}

.contact .contact-form .form-btn{
    margin-left: 50%;
    transform: translateX(-50%);
    color: white;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(1%, #c9317f), to(#e26a6e));
    font-size: 1.1rem;
    padding: 10px 40px;
    border-radius: 2rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.contact .contact-form .form-btn:hover{
    border: solid thin #c9317f;
    box-shadow: 0 0 30px #e26a6e;
    font-size: 1.15rem;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient( 90deg , #c9317f 1%, #e26a6e 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ===== CONTACT MEDIA QUERIES ===== */

@media screen and (max-width: 768px){
    
    .contact h1{
        font-size: 2rem;
    }
        
    /* ===== CONTACT DETAILS ===== */

    .contact .contact-details{
        width: 100%;
        padding-top: 0;
    }

    .contact .contact-details h2{
        display: none;
    }

    .contact .contact-details table{
        display: none;
    }

    .contact .contact-details .media-icons{
        width: 70%;
        margin-top: 2rem;
        margin-bottom: 0.5rem;
        justify-content: space-between;
    }


    /* ===== CONTACT FORM ===== */

    .contact .contact-form{
        width: 100%;
        padding: 2rem 2rem 2rem 2rem;
    }

    .contact .contact-form .box{
        padding: 0.75rem 1.25rem;
        font-size: 1rem;
        margin-bottom: 0.75rem;
    }
    
    .contact .contact-form .form-btn{
        font-size: 1rem;
        padding: 8px 32px;
    }

}